body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: steelblue;
    transition: all 0.4s;
    height: 100vh; /* Ensures body takes full height of the screen */
}
h2{
    color: black;
}

.contactMe a:link {
    color: black;
  }
    
  /* mouse over link */
  .contactMe a:hover {
    color: rgb(0, 170, 255);
  }
  
  /* selected link */
  .contactMe a:active {
    color:  rgb(0, 170, 255);
  }

.topheader {
    background-color: grey;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between; /* Ensures left and right alignment */
    align-items: center; /* Aligns items vertically */
    padding: 0 1rem; /* Adds some padding for spacing */
    color: black;
}
.left{
    margin-left: 0;
}
.right{
    margin-right: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

/* navbar styling */
.navbar{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: black;
}


/* logo style  */
.logo img{
    width: 3rem;
    height: 3rem;
    margin-left:0;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between the logo and nav links */
    flex-shrink: 0; 
}
.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: white;
   cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: black;
    font-weight: 600;

}
.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: grey;
}

.hide{
    display: none;
}

/* for Desktop view  */
@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color: grey;
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
}
.contactMe{
    display: block;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
        .contactMe {
            width: 90%; /* Adjust width to fit smaller screens */
            max-width: 400px; /* Prevent it from becoming too wide */
            margin-top: 100px; /* Adjust margin for better spacing */

    }
}